
    <footer class="text-center text-lg-start mt-auto">
    <div class="text-center text-black p-8 bg-light ">
      © 2022 Copyright:
      <a class="text-black" href="https://github.com/Mosams"><p>Mongare</p></a>
    </div>
  </footer> 