
<footer class="text-center text-lg-start mt-auto bg-dark">
  <div class="text-center text-light p-8 bg-dark ">
    © 2022 Copyright:  <a class="text-light" href="https://github.com/Mosams"><p>Mongare</p></a>
  </div>
</footer> 