<ul class= "list-unstyled align-items-center d-flex flex-column align-items-center w-75">
    <li class="card mb-3 w-75" style="margin-top: -2rem" >
      <div class="col-md-12">
        <div class="card-body">
            <ul class="list-inline ml-5">
      <% comment.includes(:author).each do |commenting| %>
       <% if commenting.post_id === post.id  %> 
        <li class="border-start border-4 border-warning px-2 shadow py-1 mb-2">
          <h5><%= commenting.author.name %></h5>
          <p><%= commenting.text %></p>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  </div>
 </li> 
</ul>