<div>
<%  @user = User.find(params[:user_id]) %>
  <%= render 'share/user', :user => @user %>
  <ul class= "list-unstyled align-items-center d-flex flex-column align-items-center w-75">
    <li class="card mb-3 w-75 mt-4" >
      <div class="col-md-12">
      <div class="card-body">
      <h4 class="card-title">Bio: </h4><br>
      <p class="card-text"><%= @user.bio %></p>
      </div>
    </li>
</ul>
<% @posts = Post.all %>
<% if !@posts %>
  <h4 class="card-title">There are no posts from this user yet<h4>
<% else %>
<% @posts.each do |p| %>
<% if p.author_id === @user.id %>
  <%= render 'share/post', :post => p %>
<% end %>

<% end %>
<% end %>
</div>