<div>
  <%= render 'users/user', :user => @user %>
  <% @users = User.all %>
<% @posts.each do |p| %>
<% @comments = p.recent_comments %>
<% if p.author_id === @user.id %>
  <%= render 'post', :post => p %>
  <%= render 'comment', :user => @users, :comment => @comments, :post => p %>
<% end %>
<% end %>
  <button class= "list-group-item list-group-item-action list-group-item-success mx-auto", 
      style= "width: 100px;">
    Pagination
  </button>
</div>