<div>
<% @comments = Comment.all %>
<% @users = User.all %>
  <%= render 'share/post_show', :post => @post, :user => @users %>
  <%= render 'share/comment', :user => @users, :comment => @comments, :post => @post %>
</div>